[Desktop Entry]
Comment=Small switch to temporarily suspend automatic locking of the screen
Encoding=UTF-8
Icon=system-lock-screen
Keywords=lock
Name=Dap's LockSwitch
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Roland Pallai
X-KDE-PluginInfo-Email=pallair78@magex.hu
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=dap.locksw
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/rpallai/dap-locksw
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=32,32
